<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DemandwareDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Demandware" connectionString="Data Source=datawarehouse; Initial Catalog=demandware-dev;User ID=sa;Password=dermal;" providerName="System.Data.SqlClient"/>
    <add name="AuditLog" connectionString="Data Source=automation01\automation01; Initial Catalog=auditlog_dev;User ID=Demandware;Password=dermal1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SFTPServer" value="web.dermalogica.com"/>
    <add key="SFTPUser" value="demandware"/>
    <add key="SFTPPW" value="d3m@nd!~1974"/>
    <add key="ReceiveFolder" value="order"/>
    <add key="DownloadFrom" value="StagingOrders"/>
    <add key="LogFile" value="C:\Download\DemandWareDownloadLog.txt"/>
    <add key="WSCustMgrDBURL" value="http://192.168.116.181/WSeCommTest/CustomerManagerDB.aspx"/>
    <add key="GeoCdURL" value="https://wsecom.dermalogica.com/tax.aspx?action=geocd"/>
    <add key="MonitorFile" value="C:\Download\DemandWareDownloadMonitor.txt"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
    <DemandwareDownload.Properties.Settings>
      <setting name="DemandwareDownload_WSeBusinessUser_DRMeBusinessUser"
        serializeAs="String">
        <value>http://192.168.116.181/eBusinessWS/user.asmx</value>
      </setting>
    </DemandwareDownload.Properties.Settings>
  </applicationSettings>
</configuration>
